<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zx.dao.EmailMessageMapper">
  <resultMap id="BaseResultMap" type="cn.zx.pojo.EmailMessage">
    <id column="email_id" jdbcType="INTEGER" property="email_id" />
    <result column="email_account" jdbcType="VARCHAR" property="email_account" />
    <result column="email_password" jdbcType="VARCHAR" property="email_password" />
    <result column="email_smtp_host" jdbcType="VARCHAR" property="email_smtp_host" />
    <result column="send_mail" jdbcType="VARCHAR" property="send_mail" />
    <result column="rec_mail_account" jdbcType="VARCHAR" property="rec_mail_account" />
    <result column="rec_mail" jdbcType="VARCHAR" property="rec_mail" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    email_id, email_account, email_password, email_smtp_host, send_mail, rec_mail_account, 
    rec_mail, subject, content
  </sql>
  <select id="selectByExample" parameterType="cn.zx.pojo.EmailMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from email_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from email_message
    where email_id = #{email_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from email_message
    where email_id = #{email_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.zx.pojo.EmailMessageExample">
    delete from email_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.zx.pojo.EmailMessage">
    insert into email_message (email_id, email_account, email_password, 
      email_smtp_host, send_mail, rec_mail_account, 
      rec_mail, subject, content
      )
    values (#{email_id,jdbcType=INTEGER}, #{email_account,jdbcType=VARCHAR}, #{email_password,jdbcType=VARCHAR}, 
      #{email_smtp_host,jdbcType=VARCHAR}, #{send_mail,jdbcType=VARCHAR}, #{rec_mail_account,jdbcType=VARCHAR}, 
      #{rec_mail,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.zx.pojo.EmailMessage">
    insert into email_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="email_id != null">
        email_id,
      </if>
      <if test="email_account != null">
        email_account,
      </if>
      <if test="email_password != null">
        email_password,
      </if>
      <if test="email_smtp_host != null">
        email_smtp_host,
      </if>
      <if test="send_mail != null">
        send_mail,
      </if>
      <if test="rec_mail_account != null">
        rec_mail_account,
      </if>
      <if test="rec_mail != null">
        rec_mail,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="email_id != null">
        #{email_id,jdbcType=INTEGER},
      </if>
      <if test="email_account != null">
        #{email_account,jdbcType=VARCHAR},
      </if>
      <if test="email_password != null">
        #{email_password,jdbcType=VARCHAR},
      </if>
      <if test="email_smtp_host != null">
        #{email_smtp_host,jdbcType=VARCHAR},
      </if>
      <if test="send_mail != null">
        #{send_mail,jdbcType=VARCHAR},
      </if>
      <if test="rec_mail_account != null">
        #{rec_mail_account,jdbcType=VARCHAR},
      </if>
      <if test="rec_mail != null">
        #{rec_mail,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.zx.pojo.EmailMessageExample" resultType="java.lang.Long">
    select count(*) from email_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update email_message
    <set>
      <if test="record.email_id != null">
        email_id = #{record.email_id,jdbcType=INTEGER},
      </if>
      <if test="record.email_account != null">
        email_account = #{record.email_account,jdbcType=VARCHAR},
      </if>
      <if test="record.email_password != null">
        email_password = #{record.email_password,jdbcType=VARCHAR},
      </if>
      <if test="record.email_smtp_host != null">
        email_smtp_host = #{record.email_smtp_host,jdbcType=VARCHAR},
      </if>
      <if test="record.send_mail != null">
        send_mail = #{record.send_mail,jdbcType=VARCHAR},
      </if>
      <if test="record.rec_mail_account != null">
        rec_mail_account = #{record.rec_mail_account,jdbcType=VARCHAR},
      </if>
      <if test="record.rec_mail != null">
        rec_mail = #{record.rec_mail,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null">
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update email_message
    set email_id = #{record.email_id,jdbcType=INTEGER},
      email_account = #{record.email_account,jdbcType=VARCHAR},
      email_password = #{record.email_password,jdbcType=VARCHAR},
      email_smtp_host = #{record.email_smtp_host,jdbcType=VARCHAR},
      send_mail = #{record.send_mail,jdbcType=VARCHAR},
      rec_mail_account = #{record.rec_mail_account,jdbcType=VARCHAR},
      rec_mail = #{record.rec_mail,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zx.pojo.EmailMessage">
    update email_message
    <set>
      <if test="email_account != null">
        email_account = #{email_account,jdbcType=VARCHAR},
      </if>
      <if test="email_password != null">
        email_password = #{email_password,jdbcType=VARCHAR},
      </if>
      <if test="email_smtp_host != null">
        email_smtp_host = #{email_smtp_host,jdbcType=VARCHAR},
      </if>
      <if test="send_mail != null">
        send_mail = #{send_mail,jdbcType=VARCHAR},
      </if>
      <if test="rec_mail_account != null">
        rec_mail_account = #{rec_mail_account,jdbcType=VARCHAR},
      </if>
      <if test="rec_mail != null">
        rec_mail = #{rec_mail,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where email_id = #{email_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zx.pojo.EmailMessage">
    update email_message
    set email_account = #{email_account,jdbcType=VARCHAR},
      email_password = #{email_password,jdbcType=VARCHAR},
      email_smtp_host = #{email_smtp_host,jdbcType=VARCHAR},
      send_mail = #{send_mail,jdbcType=VARCHAR},
      rec_mail_account = #{rec_mail_account,jdbcType=VARCHAR},
      rec_mail = #{rec_mail,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where email_id = #{email_id,jdbcType=INTEGER}
  </update>
</mapper>