*{
	list-style: none;
}
body,html{
	background: #fff;
}
ul,li{
	margin:0;
	padding: 0;
}
.mui-bar .mui-title,.mui-bar-nav.mui-bar .mui-icon{
	line-height: 0.88rem;
}
.mui-indexed-list {
	position: relative;
	border-top: solid 1px #e3e3e3;
	border-bottom: solid 1px #e3e3e3;
	overflow: hidden;
	background-color: #fff;
	height: 300px;
	cursor: default;
}
.mui-indexed-list-inner {
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
	border: none;
}
.mui-indexed-list-inner::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	visibility: hidden;
}
.mui-indexed-list-empty-alert,
.mui-indexed-list-inner.empty ul {
	display: none;
}
.mui-indexed-list-inner.empty .mui-indexed-list-empty-alert {
	display: block;
}
.mui-indexed-list-empty-alert {
	padding: 30px 15px;
	text-align: center;
	color: #ccc;
	padding-right: 45px;
}
.mui-ios .mui-indexed-list-inner {
	width: calc(100% + 10px);
}
.mui-indexed-list-group,
.mui-indexed-list-item {
	padding-right: 45px;
}
.mui-ios .mui-indexed-list-group,
.mui-ios .mui-indexed-list-item,
.mui-ios .mui-indexed-list-empty-alert {
	padding-right: 55px;
}
.mui-indexed-list-group {
	background-color: #f7f7f7;
}
.mui-indexed-list-group {
	padding-top: 3px;
	padding-bottom: 3px;
}
.mui-indexed-list-search {
	border-bottom: solid 1px #e3e3e3;
	z-index: 15;
}
.mui-indexed-list-search.mui-search:before {
	margin-top: -10px;
}
.mui-indexed-list-search input {
	border-radius: 0px;
	margin: 0px;
	background-color: #fff;
}
.mui-indexed-list-bar {
	width: 23px;
	background-color: lightgrey;
	position: absolute;
	height: 100%;
	z-index: 10;
	right: 0px;
	-webkit-transition: .2s;
}
.mui-indexed-list-bar a {
	display: block;
	text-align: center;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	line-height: 15px;
	color: #aaa;
}
.mui-indexed-list-bar.active {
	/*background-color: rgb(200,200,200);*/
}
.mui-indexed-list-bar.active a {
	/*color: #333;*/
}
.mui-indexed-list-bar.active a.active {
	color: #007aff;
}
.mui-indexed-list-alert {
	position: absolute;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.5);
	width: 80px;
	height: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	border-radius: 40px;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	color: #fff;
	display: none;
	-webkit-transition: .2s;
}
.mui-indexed-list-alert.active {
	display: block;
}
.mui-indexed-list-bar{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*position: fixed;*/
	top: 0;
	bottom: 0;
	margin:auto;
	width: 0.32rem;
	right: 0.13rem;
	border-radius: 0.32rem;
	background: #13a3ff;
}
.mui-indexed-list-bar a{
	color: #fff;
	font-size: 0.2rem;
}
.mui-bar-nav{
	height: 0.88rem;
	background: #13a3ff;
}
.mui-bar-nav~.mui-content{
	padding-top: 1.2rem;
}
.mui-indexed-list-search{
	height: 0.8rem;
	padding: 0 0.24rem;
}
.mui-indexed-list-search input{
	border: 0.02rem solid #13a3ff;
	border-radius: 0.7rem;
	    margin-bottom: 0.1rem;
}
.mui-table-view-cell{
	height: 1.4rem;
	padding: 0;
	position: relative;
	 -webkit-box-shadow: 0px 0px 12px 2px rgba(183, 178, 178, 0.24);
    -moz-box-shadow:  0px 0px 12px 2px rgba(183, 178, 178, 0.24);
    box-shadow: 0px 0px 12px 2px rgba(183, 178, 178, 0.24);
    margin-bottom: 0.12rem;
    border-radius: 0.1rem;
}
.mui-table-view{
	padding-left: 0.24rem;
	padding-right: 0.6rem;
}
.mui-table-view-divider{
	padding-left: 0;
}


.left{
    width:1.11rem;
    height:100%;
    position: relative;
    float: left;
    margin-right: 0.21rem;
}
.tx{
    width:0.9rem;
    height:0.9rem;
    background: #3dcaff;
    border:0.04rem solid #a1e5ff;
    border-radius: 50%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.img{
    width:0.74rem;
    height:0.74rem;
    border-radius: 50%;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    overflow: hidden;
}
.img img{
    float: left;
}
.shu{
    width:0rem;
    height:0.48rem;
    border-right: 0.02rem dashed #eaeaea;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
.right{
    float: left;
    width:4.36rem;
    height:100%;
    padding:0.2rem 0;
}
.right ul{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right ul li{
    font-size: 0.24rem;
}
.right ul li:nth-child(1) span:nth-child(1){
    font-size: 0.26rem;
    font-weight: bold;
}
.right ul li:nth-child(3){
    font-size: 0.2rem;
}
.right ul li:nth-child(2){
    color: #b3b3b3;
}
.right ul li:nth-child(3){
    color: #d5d5d5;
}
.right>ul>li{
	height:0.2rem;
}
.fabu{
    width:0.86rem;
    height:0.39rem;
    background: #13a3ff;
    float: left;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    right:0.54rem;
    border-radius: 0.39rem;
    text-align: center;
    line-height: 0.39rem;
}
.fabu span {
    display: inline-block;
    font-size: 0.24rem;
    color: #fff;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
}
.mui-table-view-divider,.mui-content{
	background: #fff;
	font-size: 0.3rem;
}
.mui-indexed-list{
	border-top: none;
}
.mui-indexed-list-search{
	border-bottom: none;
	    margin-bottom: 0.1rem;
}
.mui-indexed-list-bar{
	width: 0.3rem;
}
.mui-title{
	color: #fff;
	font-size: 0.4rem;
	font-weight: bold;
}
.mui-action-back{
	color: #fff;
}
.mui-search .mui-active::before{
	display: none;
}
.mui-input-row.mui-search .mui-icon-clear{
	right: 0.4rem;
}
.mui-indexed-list-search.mui-search:before{
	    margin-left: 0.3rem;
}
.mui-indexed-list{
	position: relative;
}
.mui-ios .mui-indexed-list-group, .mui-ios .mui-indexed-list-item, .mui-ios .mui-indexed-list-empty-alert{
	padding-right: 0.55rem;
}
.mui-table-view-cell:after{
	height: 0;
}
.post-release a{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	line-height:0.39rem;
	font-size:0.24rem;
	color:#fff;
}
.user_tel a{
	color:#b3b3b3;
	font-size: 0.24rem;
}
.mui-table-view-divider:before,.mui-table-view-divider:after{
	height:0;
}
.mui-bar .mui-icon{
	padding-top:0;
	padding-bottom:0;
}
.mui-table-view:after{
	height:0;
}