<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file> login.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 初始化参数，加载配置文件  spring+mybatis整合文件 -->  
 <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:SpringConfig.xml</param-value>
  </context-param>

  <!-- 配置日志 -->
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  

<!-- 使用过滤器解决中文乱码问题 -->
<filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
	      org.springframework.web.filter.CharacterEncodingFilter
	  </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 设置session失效 -->
<session-config>
<session-timeout>10</session-timeout>
</session-config>


<!-- 配置spring核心配置类 -->
 <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
 <!-- 添加 spring 监听器，在web服务器启动时，加载spring 上下文对象 -->
 <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener> 
  
  
  <!-- 日志监听 -->   
  <listener>
    <listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
  </listener> 

<!--      <context-param>   
         <param-name>webAppRootKey</param-name>   
         <param-value>zx.root</param-value>   
    </context-param>  -->
    
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WeChatServlet</servlet-name>
    <servlet-class>cn.zx.servlet.WeChatServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>qqq</servlet-name>
    <servlet-class>cn.zx.servlet.qqq</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>WeChatServlet</servlet-name>
    <url-pattern>/WeChatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>qqq</servlet-name>
    <url-pattern>/servlet/qqq</url-pattern>
  </servlet-mapping>
  <error-page>
        <error-code>404</error-code>
        <location>/HTTP-404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/HTTP-500.jsp</location>
    </error-page>
</web-app>